//Colors
$main-color: #55c57a;
$main-color-light: #7ed56f;
$main-color-dark: #28b485;

$secondary-color-light: #ffb900;
$secondary-color-dark: #ff7730;

$tertiary-color-light: #2998ff;
$tertiary-color-dark: #5643fa;

$color-light-grey-1: #f7f7f7;
$color-light-grey-2: #eee;

$color-grey: #777;
$color-white: #fff;
$color-black: #000;


//Grid
$grid-width: 114rem;
$gutter-vert: 8rem;
$gutter-horiz: 6rem;

//Default sizes
$default-font-size: 1.6rem; 
$default-border-radius: 3px;
$default-opacity-value: .8;