.btn{
    &:link, &:visited, & {
        display: inline-block;

        position: relative;

        padding: 1.5rem 4rem;

        text-transform: uppercase;
        text-decoration: none;
        transition: all .1s;;

        // Button tag
        border: none;
        cursor: pointer;
    }
    
    &:hover{
        box-shadow: 0 1rem 1rem rgba($color-black, .2);
        transform: translateY(-3px);
    }
    
    &:active{
        box-shadow: 0 0.5rem 1rem rgba($color-black, .2);
        transform: translateY(-1px);
    }
    
    &--white{
        position: absolute;
        left: 25%;
        top: 0;

        background-color: $color-white;
        color: $color-grey;
    }

    &--green{
        position: absolute;

        background-color: $main-color;
        color: $color-light-grey-1;
    }
    
    &--animated{
        animation-duration: 2s;
        animation-name: moveInTop;
        animation-timing-function: linear;
    }
}

.btn-text{

    &:link, &:visited{
        display: inline-block;

        padding: 3px;

        border-bottom: 1px solid $main-color;

        font-size: $default-font-size;
        color: $main-color;
        text-decoration: none;
        transition: all .2s;
    }

    &:hover{
        box-shadow: 0 1rem 2rem rgba($color-black, .15);

        background-color: $main-color;
        color: $color-white;
        transform: translateY(-2px);
    }

    &:active{
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}

