.feature-box{
    padding: 2.5rem;

    max-width: 22rem;
    min-height: 20rem;

    background-color: rgba($color-white, $default-opacity-value);
    font-size: 1.5rem;
    border-radius: $default-border-radius;
    text-align: center;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: all .3s;


    &__icon{
        margin-bottom: 3rem;

        font-size: 6rem;
        background-image: linear-gradient(to right, $main-color-light, $main-color-dark);
        background-clip: text;
        color: transparent;
    }

    &:hover{
        transform: translateY(-1.5rem) scale(1.03);
    }

    &__text{
        font-size: 1.4rem;
        line-height: 2.1rem;
    }

    h3{
        font-size: 1.5rem;
    }
}