.heading-primary{
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 60px;

    &--main{
        display: block;
        font-size: 6rem;
        letter-spacing: 3.5rem;
    
        animation-name: moveInLeft;
        animation-duration: 2s;
        animation-timing-function: ease-out;
    }
    
    &--sub{
        display: block;
        font-size: 2rem;
        letter-spacing: 17.4px;
        font-weight: 300;
    
        animation-name: moveInRight;
        animation-duration: 2s;
        animation-timing-function: ease-out;
    }
}

