.features{
    padding: 20rem 0;
    background:linear-gradient(
        to right bottom,
        rgba($main-color-light, 0.8),
        rgba($main-color-dark, 0.8)
        ),
        url(../img/nat-4.jpg) center center/cover no-repeat;
    background-size: cover;
    clip-path: polygon(0 13%, 100% 0%, 100% 80%, 0% 100%);
}