.features{
    margin-top: -10rem;
    padding: 20rem 0;
    
    background:linear-gradient(
        to right bottom,
        rgba($main-color-light, $default-opacity-value),
        rgba($main-color-dark, $default-opacity-value)
        ),
        url(../img/nat-4.jpg) center center/cover no-repeat;
    background-size: cover;
    clip-path: polygon(0 13%, 100% 0%, 100% 80%, 0% 100%);
}