.footer{
    padding: 10rem 0;

    background-color: #333;
    font-size: 1.4rem;

    &__logo-box{
        text-align: center;
    }

    &__logo{
        width: 15rem;
        height: auto;
    }

    &__nav{
        display: inline-block;

        border-top: 1px solid #777;
        padding-top: 2rem;
    }

    &__list{
        list-style: none;
    }

    &__item{
        display: inline-block;

        &:not(:last-child){
            margin-right: 1.5rem;
        }
    }

    &__link{
        transition: all .2s;

        &:link, &:visited{
            display: inline-block;

            color: $color-light-grey-1;
            text-decoration: none;
            text-transform: uppercase;
        }

        &:hover, &:active{
            box-shadow: 0 1rem 2rem rgba($color-black, .4);

            color: $main-color;
            transform: rotate(5deg) scale(1.3);
        }
    }

    &_copyright{
        padding-top: 2rem;

        width: 85%;

        border-top: 1px solid #777;

        color: $color-white;
        float: right;
    }
}